main{
    padding-left: 5%;
    padding-right: 5%;
    text-align: left;
}

.Basic_template_code{
    margin-left: 5%;
    padding-left: 1%;
    background-color: azure;
    border: solid 1px;
    font-size: 2vw;
}